<table class="table table-striped">
    <thead>
        <tr>
            <th *ngIf="authService.isLoggedIn()">Törlés</th>
            <th>ID</th>
            <th>Típus</th>
            <th>Rendszám</th>
            <th>Üzemanyag típus</th>
            <th>Üzemanyag fogyasztás</th>
            <th>Kezdő kilométer</th>
            <th *ngIf="authService.isLoggedIn()">Módosítás</th>
        </tr>
    </thead>
    <tbody>
        @for( car of cars; track $index){
        <tr>
            <td *ngIf="authService.isLoggedIn()">
                <button class="btn btn-danger btn-sm" (click)="deleteCar(car)">Törlés</button>
            </td>
            <td>{{car.id}}</td>
            <td>{{car.type}}</td>
            <td>{{car.licensePlate}}</td>
            <td>{{car.fuelType}}</td>
            <td>{{car.fuelConsuption}} L/100km</td>
            <td>{{car.startingMileage}} Km</td>
            <td *ngIf="authService.isLoggedIn()">
                <button class="btn btn-primary btn-sm" (click)="goToCarForm(car.id)">Módosítás</button>
            </td>
        </tr>
        }
    </tbody>
</table>